/*
SpaceTraders API

SpaceTraders is an open-universe game and learning platform that offers a set of HTTP endpoints to control a fleet of ships and explore a multiplayer universe.  The API is documented using [OpenAPI](https://github.com/SpaceTradersAPI/api-docs). You can send your first request right here in your browser to check the status of the game server.  ```json http {   \"method\": \"GET\",   \"url\": \"https://api.spacetraders.io/v2\", } ```  Unlike a traditional game, SpaceTraders does not have a first-party client or app to play the game. Instead, you can use the API to build your own client, write a script to automate your ships, or try an app built by the community.  We have a [Discord channel](https://discord.com/invite/jh6zurdWk5) where you can share your projects, ask questions, and get help from other players.

API version: 2.0.0
Contact: joel@spacetraders.io
*/

// Code generated by OpenAPI Generator (https://openapi-generator.tech); DO NOT EDIT.

package st

import (
	"bytes"
	"context"
	"io"
	"net/http"
	"net/url"
	"strings"
)

type FactionsAPI interface {

	/*
		GetFaction Get Faction

		View the details of a faction.

		@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
		@param factionSymbol The faction symbol
		@return FactionsAPIGetFactionRequest
	*/
	GetFaction(ctx context.Context, factionSymbol string) FactionsAPIGetFactionRequest

	// GetFactionExecute executes the request
	//  @return GetFaction200Response
	GetFactionExecute(r FactionsAPIGetFactionRequest) (*GetFaction200Response, *http.Response, error)

	/*
		GetFactions List Factions

		Return a paginated list of all the factions in the game.

		@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
		@return FactionsAPIGetFactionsRequest
	*/
	GetFactions(ctx context.Context) FactionsAPIGetFactionsRequest

	// GetFactionsExecute executes the request
	//  @return GetFactions200Response
	GetFactionsExecute(r FactionsAPIGetFactionsRequest) (*GetFactions200Response, *http.Response, error)
}

// FactionsAPIService FactionsAPI service
type FactionsAPIService service

type FactionsAPIGetFactionRequest struct {
	ctx           context.Context
	ApiService    FactionsAPI
	factionSymbol string
}

func (r FactionsAPIGetFactionRequest) Execute() (*GetFaction200Response, *http.Response, error) {
	return r.ApiService.GetFactionExecute(r)
}

/*
GetFaction Get Faction

View the details of a faction.

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@param factionSymbol The faction symbol
	@return FactionsAPIGetFactionRequest
*/
func (a *FactionsAPIService) GetFaction(ctx context.Context, factionSymbol string) FactionsAPIGetFactionRequest {
	return FactionsAPIGetFactionRequest{
		ApiService:    a,
		ctx:           ctx,
		factionSymbol: factionSymbol,
	}
}

// Execute executes the request
//
//	@return GetFaction200Response
func (a *FactionsAPIService) GetFactionExecute(r FactionsAPIGetFactionRequest) (*GetFaction200Response, *http.Response, error) {
	var (
		localVarHTTPMethod  = http.MethodGet
		localVarPostBody    interface{}
		formFiles           []formFile
		localVarReturnValue *GetFaction200Response
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "FactionsAPIService.GetFaction")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/factions/{factionSymbol}"
	localVarPath = strings.Replace(localVarPath, "{"+"factionSymbol"+"}", url.PathEscape(parameterValueToString(r.factionSymbol, "factionSymbol")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type FactionsAPIGetFactionsRequest struct {
	ctx        context.Context
	ApiService FactionsAPI
	page       *int32
	limit      *int32
}

// What entry offset to request
func (r FactionsAPIGetFactionsRequest) Page(page int32) FactionsAPIGetFactionsRequest {
	r.page = &page
	return r
}

// How many entries to return per page
func (r FactionsAPIGetFactionsRequest) Limit(limit int32) FactionsAPIGetFactionsRequest {
	r.limit = &limit
	return r
}

func (r FactionsAPIGetFactionsRequest) Execute() (*GetFactions200Response, *http.Response, error) {
	return r.ApiService.GetFactionsExecute(r)
}

/*
GetFactions List Factions

Return a paginated list of all the factions in the game.

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@return FactionsAPIGetFactionsRequest
*/
func (a *FactionsAPIService) GetFactions(ctx context.Context) FactionsAPIGetFactionsRequest {
	return FactionsAPIGetFactionsRequest{
		ApiService: a,
		ctx:        ctx,
	}
}

// Execute executes the request
//
//	@return GetFactions200Response
func (a *FactionsAPIService) GetFactionsExecute(r FactionsAPIGetFactionsRequest) (*GetFactions200Response, *http.Response, error) {
	var (
		localVarHTTPMethod  = http.MethodGet
		localVarPostBody    interface{}
		formFiles           []formFile
		localVarReturnValue *GetFactions200Response
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "FactionsAPIService.GetFactions")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/factions"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	if r.page != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "page", r.page, "")
	} else {
		var defaultValue int32 = 1
		r.page = &defaultValue
	}
	if r.limit != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "limit", r.limit, "")
	} else {
		var defaultValue int32 = 10
		r.limit = &defaultValue
	}
	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}
